APP_ENV=local
APP_KEY=base64:YTYByBF72lcNv1ZmTPplQFNrCNd7Ozug7NR4iBQPA9E=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=localhost:8080
APP_NAME=localhost

APP_LOCALE=nl
APP_FALLBACK_LOCALE=nl
APP_FAKER_LOCALE=nl_NL

HASHIDS_URL_HASH=base64:jgrAGeIwUBEgFTu+7jLajhth5T/8aWlBx44qkh/ndX8=

RECAPTCHA_KEY=6LeDSosaAAAAAJCbUlIHHpQ4RwKGkeDo9yCrNix2
RECAPTCHA_SECRET=6LeDSosaAAAAAJuR67scQZE-th0QwHktEq__2tM-
RECAPTCHA_MINIMAL_SCORE=0.5

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=appdb
DB_USERNAME=benedenboven
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file

QUEUE_CONNECTION=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=benedenboven@gmail.com
MAIL_PASSWORD=nxspgurcddgqduxn
MAIL_ENCRYPTION=tls

AUTO_DELETE_FILE_FOLDERS=
