node_modules
/public/storage
/public/hot
/storage/*.key
/public/build
/vendor
Homestead.json
Homestead.yaml
.env
/logs
.idea
/public/tmp
/public/administrator
psalm.xml
.DS_STORE
/storage/secured_files
**/*Zone.Identifier
/storage/secured_files
/atom