@import "tailwindcss";
@import './fontawesome.css';
@import './buttons.css';

@source "../views";
@layer base {
    @theme {
        --font-body: "Roboto", sans-serif;
        --text-base: var(--text-base-size);
        --text-base-line-height: 1.7;
        --text-9xl--line-height: 1.2;
        --text-8xl--line-height: 1.2;
        --text-7xl--line-height: 1.2;
        --text-6xl--line-height: 1.2;
        --text-5xl--line-height: 1.2;
        --text-4xl--line-height: 1.2;
        --text-3xl--line-height: 1.2;
        --text-2xl--line-height: 1.2;
        --text-xl--line-height: 1.2;
        --text-base-color: var(--color-black);
        --text-sm: 1rem;
        --container-6xl: 100rem;
        --container-7xl: 120rem;

        --font-heading: "Poppins", sans-serif;
        --heading-base-color: var(--color-black);

        --color-yellow: var(--color-yellow-300);
        --color-yellow-50: #fefce8;
        --color-yellow-100: #fff9c2;
        --color-yellow-200: #ffef89;
        --color-yellow-300: #ffe156;
        --color-yellow-400: #fdca12;
        --color-yellow-500: #ecb006;
        --color-yellow-600: #cc8702;
        --color-yellow-700: #a35f05;
        --color-yellow-800: #864b0d;
        --color-yellow-900: #723d11;
        --color-yellow-950: #431f05;

        --color-black: var(--color-black-950);
        --color-black-50: #f1f6fd;
        --color-black-100: #dfeafa;
        --color-black-200: #c5daf8;
        --color-black-300: #9ec3f2;
        --color-black-400: #70a3ea;
        --color-black-500: #4e82e3;
        --color-black-600: #3966d7;
        --color-black-700: #3053c5;
        --color-black-800: #2d45a0;
        --color-black-900: #293d7f;
        --color-black-950: #243060;

        --color-blue: var(--color-blue-800);
        --color-blue-50: #f1f7fd;
        --color-blue-100: #dfecfa;
        --color-blue-200: #c6def7;
        --color-blue-300: #9ec9f2;
        --color-blue-400: #71abe9;
        --color-blue-500: #4f8ce2;
        --color-blue-600: #3a71d6;
        --color-blue-700: #315dc4;
        --color-blue-800: #2c4a9a;
        --color-blue-900: #2a437e;
        --color-blue-950: #1e2b4d;

        --color-blue-light: var(--color-blue-light-600);
        --color-blue-light-50: #F6FBFD;
        --color-blue-light-100: #e8f3f7;
        --color-blue-light-200: #E0F1F7;
        --color-blue-light-300: #bcd8e5;
        --color-blue-light-400: #a1c2d8;
        --color-blue-light-500: #89accb;
        --color-blue-light-600: #7c9bc0;
        --color-blue-light-700: #5f7da3;
        --color-blue-light-800: #4f6784;
        --color-blue-light-900: #44576b;
        --color-blue-light-950: #28323e;

        --color-grey: var(--color-grey-200);
        --color-grey-50: #f9fafb;
        --color-grey-100: #f3f4f6;
        --color-grey-200: #eaebef;
        --color-grey-300: #d1d4db;
        --color-grey-400: #9ca0af;
        --color-grey-500: #6b6f80;
        --color-grey-600: #4b5263;
        --color-grey-700: #373e51;
        --color-grey-800: #1f2637;
        --color-grey-900: #111527;
        --color-grey-950: #030512;
    }

    :root {
        --text-base-size: 1rem;
        --text-sm: 0.9rem;
    }

    @media (max-width: 1535px) {
        :root {
            --text-base-size: 0.9rem;
            --text-sm: 0.8rem;
        }
    }

    .max-w-7xl, .max-w-6xl {
        padding: 0 6rem;

        @media (max-width: 75rem) {
            padding: 0 4rem;
        }

        @media (max-width: 40rem) {
            padding: 0 2rem;
        }

        @media (max-width: 26rem) {
            padding: 0 1.4rem;
        }
    }

    .w-breadcrumbs {
        @apply w-416;

        @media (min-width: 116rem) {
            @apply w-438;
        }

        @media (max-width: 104rem) {
            @apply w-full;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        color: var(--heading-base-color);
        line-height: 1.2;
        font-weight: 800;
    }

    html, body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-body);
        font-size: var(--text-base-size);
        line-height: var(--text-base-line-height);
        color: var(--text-base-color);
        font-weight: 300;

        strong {
            font-weight: 800;
        }
    }

    .page-content {
        p {
            @apply mb-5;
        }

        a {
            @apply underline font-bold transition-all;

            &:hover {
                @apply text-yellow;
            }
        }

        h1 {
            @apply mb-4 text-5xl font-black;
        }

        h2 {
            @apply mb-4 text-4xl font-black;
        }

        h3 {
            @apply mb-4 text-3xl font-black;
        }

        h4 {
            @apply mb-4 text-2xl font-extrabold;
        }

        h5 {
            @apply mb-4 text-xl font-extrabold;
        }

        h6 {
            @apply !mb-4 text-lg font-extrabold;
        }

        table {
            @apply mb-8 w-full;

            p {
                @apply mb-0;
            }

            tr {
                &:nth-child(even) {
                    @apply bg-white;
                }

                &:nth-child(odd) {
                    @apply bg-grey;
                }

                &:first-child {
                    @apply bg-yellow font-bold font-heading;
                }

                td {
                    @apply p-2;
                }
            }
        }

        ul {
            @apply mb-4 flex flex-col gap-y-3 block mb-8;

            li {
                @apply flex gap-3 inline-block relative pl-7;

                &::before {
                    content: "\f00c";
                    font-family: "Font Awesome 6 Pro";
                    font-weight: 900;

                    @apply inline-flex items-center justify-center mt-1 w-4 h-4 align-middle transition-transform duration-600 ease-in-out text-blue-light absolute left-0;
                }
            }
        }

        ol {
            counter-reset: item;
            @apply mb-8 flex flex-col gap-y-3 list-none;

            li {
                counter-increment: item;
                @apply relative pl-8;

                &::before {
                    content: counter(item) ".";
                    @apply absolute left-0 font-bold text-yellow;
                }
            }
        }

        ol[type="a"] li::before {
            content: counter(item, lower-alpha) ".";
            @apply text-yellow;
        }

        ol[type="A"] li::before {
            content: counter(item, lower-alpha) ".";
            @apply text-yellow;
        }
    }

}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
    url('../fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
    url('../fonts/Poppins-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
    url('../fonts/Poppins-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}